html,header{
  font-family: 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'HGP明朝B', serif;
}

p {
  text-indent: 1em;
  margin-left: 15px;
  margin-right: 15px;
}
ruby {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
}

/*****SECTION*****/
section {
  margin-left: 30px;
  margin-right: 30px;
  -webkit-font-feature-settings: 'pkna';
          font-feature-settings: 'pkna';
  font-size: 17px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
section a{
    color:steelblue;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
section a:visited{
    color:steelblue;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
section a:hover {
    color: #F5A862;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

table.border {
  border-collapse: collapse;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
}
table.border th,
table.border td {
  border-bottom: 2px solid #ccc;
  border-left: 2px solid #ccc;
}


.box {
  text-align: center;
}

.exp {
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  -ms-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  -ms-column-gap: 1rem;
  column-gap: 1rem;
  column-rule: solid 1px #ccc;
  display: inline-block;
  text-align: left;
  width: 90vw;
  background-color: #ffa
}

/***縦書き試行錯誤***/
.wrapper{
  width: 90vw;
  margin-left: 30px;
  margin-right: 30px;

  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;

  -webkit-column-count: 1;
  -moz-column-count: 1;
  -ms-column-count: 1;
  column-count: 1;
  column-rule: solid 1px #ccc;
  column-gap: 2.5rem;
}

/** 文章量を表示して下までスクロールしてもらえるように　**/
.fixed {
  /* 参考：https://saruwakakun.com/html-css/basic/relative-absolute-fixed */
  position: fixed;
       bottom: 60px;
       right: 30px;
       /*以下装飾*/
       color: white;
       background: #74c1f8;
       padding:0 2px;
       line-height:1.5em;
}
